@model Clinic_Web.Models.Models.Visit

@{
    ViewData["Title"] = "Odwołaj";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Odwołaj wizytę</h1>
<br />


<div>
    <br />
    <br />
    <h4>Wizyta</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">

            @Html.DisplayNameFor(model => model.patient)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.patient.Name)
            @Html.DisplayFor(model => model.patient.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.doctor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.doctor.Name)
            @Html.DisplayFor(model => model.doctor.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.date)
            @Html.DisplayFor(model => model.hour)
        </dd>
    </dl>
    <h3>Czy jesteś pewny, że chcesz odwołać wizytę?</h3>
    <form asp-action="Delete">
        <input type="hidden" asp-for="VisitId" />
        <input type="submit" value="Odwołaj" class="btn btn-danger" /> |
        <a asp-action="Index">Cofnij</a>
    </form>
</div>
